@mixin main-section-style() {
    h1 {
        font-family: $primary-heading-font;
        color: lighten($secondary-font-color,5%);
        text-decoration-line: underline;
        text-shadow: 4px 4px 4px $secondary-background-color;
     }
     p {
        font-family: $secondary-heading-font;
        color: lighten($secondary-font-color,5%);
     }

}
@mixin subsection-style() {
        background-color:lighten($color: #837088, $amount: 25%);
    h2 {
        font-family: $primary-heading-font;
        color: lighten($secondary-font-color,5%);
        text-decoration-line: underline;
        background-color:lighten($color: #837088, $amount: 10%);
        padding: 7px 0;
     }
     p {
        font-family: $paragraph-font;
        color: lighten($secondary-font-color,5%);
     }

}

